button {
    background-color: #0085a1;
    color: white;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-left: 63%;
    margin-top: 15px;
    margin-bottom: 15px;
}

button:hover {
   background-color: #026f85;
}

button:focus {
   border: solid 5px lightblue;
}

.footer-hr {
   width: 100%; 
}
