body {
    background-color: cornflowerblue;
    color: white;
}


.logo {
    display: flex;
    width: 200px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: darkblue;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-top: darkblue solid 10px;
    border-bottom: darkblue solid 10px;
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}


li {
    display: inline;
    padding: 12px;
}

@media only screen and (max-width: 850px) {
    nav {
    display: flex;
    flex-direction: column;
    }
    li {
    display: block;
    padding: 2px;
    }
}

a {
    text-decoration: none;
    color: darkblue;
}

a:hover {
    color: white;
    background-color: cornflowerblue;
}
.responsive {
    max-width: 100%;
    height: auto;
}

h2 {
    margin-top: 200px;
    font-family: Arial, sans-serif;
    padding-top:  40px;
    color: darkblue;
    text-align: center;
}

h3 {
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}

h4 {
    color: white;
    font-family: Arial, sans-serif;
    font-style: italic;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.cats {
   border: darkblue solid 20px;
   width: 40%;
}

 .top-row {
    display: flex;
    justify-content: center;
 }

 .bottom-row {
     display: flex;
     justify-content: center;
     margin-bottom: 50px;
 }

 #footer {
    display: flex;
    justify-content: space-evenly;
    background-color: darkblue;
    font-size: 12px;
    font-family: Arial, sans-serif;
    border-top: white solid 10px;
    border-bottom:  white solid 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    color: white;
    width: 100%;
}

i {
    padding-top: 15px;
}