.entries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.first-name {
    margin-top: 30px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-right: 5px;
}

.last-name {
    margin-top: 30px;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    margin-left: 5px;
}

.e-mail {
    margin-top: 15px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-right: 5px;
}

.birth-place {
    margin-top: 15px;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin-left: 5px;
}

.phone-number {
    margin-top: 15px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin-right: 5px;
}

.fave-food {
    margin-top: 15px;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    margin-left: 5px;
}

.tell-about-self {
    margin-top: 15px;
    grid-column: 2 / 4;
    grid-row: 4 / 10;
    height: 150px;
    font-family: Arial;
}

.update-button {
    grid-column: 2 / 4;
    grid-row: 10 / 11;
    width:  200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius:  5px;
    padding: 5px;
}