.entries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.first-name {
    margin-top: 20px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.last-name {
    margin-top: 20px;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.e-mail {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.birth-place {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.phone-number {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.fave-food {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.tell-about-self {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
}

.update-button {
    grid-column: 2 / 4;
    grid-row: 5 / 6;
    width:  200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius:  5px;
    padding: 5px;
}