#flex-container {
    display: flex;
    justify-content: space-around;
}
 
body {
    background-color: silver
}

#box-1 {
    width: 150px;
    height: 150px;
    background-color: #EBE8E7;
}

#box-1:hover {
    background-color: #14ffcb;
    border:  20px white dashed;
    height: 400px;
}


#box-2 {
    width: 150px;
    height: 150px;
    background-color: #EA7186;
}


#box-2:hover {
    background-image: radial-gradient(yellow, purple, blue);
    width: 400px;
    box-shadow: 10px 15px;
}

#box-3 {
    width: 150px;
    height: 150px;
    background-color: #F2C76E;
    text-align: center;
}

#box-3:hover {
     background-image: repeating-radial-gradient(yellow, purple 10%, blue 15%);
     color: white;
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size:  30px;
     padding:  75px 20px 0px 20px;
     border:  30px dotted lavenderblush;
      
}

#box-4 {
    width: 150px;
    height: 150px;
    background-color: #7A77B9;
}


#box-4:hover {
    background-color: #223CCF;
    border: 20px groove yellow;
    border-radius:  50%;
}


#box-5 {
    width: 150px;
    height: 150px;
    background-color: #BD9DEA;
    color: darkblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
}


#box-5:hover {
     background-color: #161B7F;
     opacity: 0.7;
     margin-top: 400px;
     width: 75px;
     height: 75px;
     padding-left: 15px;
     padding-right: 15px;
     color: white;
     text-shadow: 5px 4px magenta;
     border:  15px solid magenta;
}

#box-6 {
    width: 150px;
    height: 150px;
    background-color: lavender;
    border-radius: 20px;
    border: 25px double purple;
}


#box-6:hover {
    background-color: #0683D7;
    border-width: 50px;
    border-style: solid;
    border-color: red orange yellow green;
}