*{
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    outline: none;
    text-decoration: none;
    /* color: white; */
}

.app {
    background-color: #0F4C75;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: rgb(253, 201, 31);
}

/* LOGIN PAGE */

.auth-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../assets/manny-becerra-6dUcJdXlo7Q-unsplash.jpg);
    background-size: 34%;
    background-repeat: space;
    height: 100vh;
}

.auth-container>h1 {
    font-size: 2em;
    margin: 24px;
}

.auth-container>p {
    margin: 16px;
    text-decoration: underline;
}

.auth-container>form {
    border: 1px solid #3339;
    padding: 20px;
    border-radius: 5px;
    background-color: #aaa9;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
}

.auth-container>form>input {
    margin: 16px 8px;
    padding: 8px;
    border-radius: 4px;
}

.auth-container>form>button {
    margin: 16px 8px;
    padding: 8px;
    border-radius: 4px;
}

.app-title {
    color: rgb(253, 201, 31);
}

.member-or-not {
    color: #00C3BF;
}

.sign-up-btn {
    background-color: rgb(253, 201, 31);
    color: black;
}

/* PROFILE PAGE */

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    /* height: 100vh; */
}

.profile>h1 {
    margin: 8px;
    font-size: 2em;
    text-align: center;
}

.profile>h3 {
    margin: 16px 0;
    text-decoration: underline;
    color: white;
}

.welcome-msg {
    color: white;
}

.profile>form {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 1px solid #3339;
    background-color: rgba(206, 203, 203, 0.6);
    padding: 16px;
    border-radius: 5px
}

.profile>form>input,
.profile>form>button {
    margin: 8px 0;
    padding: 8px;
    border-radius: 5px
}


.issues-list {
   margin-left: auto;
   margin-right: auto;
   width: 40%;
}

.user-issue-container {
  padding:  25px;
  background-image: linear-gradient(#b8d5e9, #6ca7ce,  #1a6ba1 );
  border-radius: 10px;
  margin-bottom: 20px;
  border:  3px solid white;
}

.profile-issues-list-header {
    color: white;
    text-decoration: underline;
    margin-top: 45px;
    margin-bottom: 18px;
    font-size:  25px;

}

.add-issue-btn {
    margin: 10px;
    background-color: rgb(253, 201, 31);
    color: black;
    font-weight: bold;
}

.my-profile-issue-tallies {
    display: flex;
    background-color:#0F4C75;
    padding: 5px;
    border-radius: 5px;
}

.my-issue-upvotes, .my-issue-downvotes, .my-issue-number-comments{
    font-style: italic;
    color: rgb(253, 201, 31);
    margin-left:  12px;
}

.my-issue-title, .my-issue-descr {
    background-color:#0F4C75;
    color: white;
}

.issue-title-mine, .issue-description-mine {
    color: #0F4C75;
    background-color: white;
    /* border:  3px solid #0F4C75; */
    border-radius: 5px;
    padding: 4px 3px 0px 0px;
    margin-top: 10px;
    font-style: italic;
    margin-bottom: 5px;
    font-size:  17px;
}

.my-issue-title, .my-issue-descr {
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 0;
}

.my-issue-title {
    padding: 5px 67px 4px 15px;
}

.my-issue-descr {
    padding: 5px 21px 4px 15px;
}

.edit-issue-form {
    display: flex;
    flex-direction: column;
}

.edit-issue-form input {
    width:  97%;
    margin-right: auto;
    margin-top: 8px;
    background-color:rgb(253, 201, 31);
    border-radius: 5px;
    padding:  3px;
}

.edit-issue-form-btns{
    display: flex;
    margin-top: 5px;
}

.submit-issue-edit-btn {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #0F4C75;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 14px;
    width:  100px;
}

.cancel-issue-edit-btn {
   margin-top: 10px;
   width: 100px;
   border: none;
   border-radius: 5px;
   height: 26.5px;
   padding-top: 1px;
}


.edit-delete-issue-buttons {
   text-align: center;
}

.delete-issue-btn {
    margin-top: 10px;
    margin-right: 10px;
    background-color: #0F4C75;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 14px;
    width:  108px;
}

.edit-issue-btn {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #0F4C75;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 14px;
    width:  108px;
}



/* PUBLIC PAGE  */

.public {
    padding-bottom: 10px;
}

.all-issues-container {
  background-image: url(../assets/andres-haro-R6ZJYwBzZx4-unsplash.jpg);
  background-color: #5687a8;
  background-size: 35%;
  background-repeat: no-repeat;
  background-position-x: 402px;
  background-position-y: 148px;
  margin-top: px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width:  40%;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom:  38px;
  border:  3px solid white;
}

.title-public-page {
    text-align: center;
    color: white;
    font-size: 28px;
    margin-top: 2%;
}

.public-comments {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #0F4C75;
    color: white;
    border-radius: 5px;
    padding: 8px;
    margin-top:  42px;
    margin-bottom:  -30px;
}

.comment-related-btns {
    display: flex;
    flex-direction: row;
    margin-top:  10px;
}

.eye-btn-pieces {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: bold;
    align-items: center;
}

.see-comments-btn {
    background-color: white;
    color: #0F4C75;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 2px;
    font-size: 12px;
    height: 40px;
    width:  132px;
    margin-left: 2px;
}

.hide-comments-btn {
    margin-left: 2px;
    background-color: white;
    color: #0F4C75;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 2px;
    font-size: 12px;
    height: 40px;
    width:  132px;
}

.leave-comment-btn {
    margin: 10px;
    background-color: #0F4C75;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 2px;
    font-size: 12px;
    /* height: 40px; */
    height: 41px;
    width:  200px;
}

.comment-form-buttons {
    display: flex;
    flex-direction: row;
    margin-top:  5px;
    margin-left: -30px;
}

.submit-comment-button{
    background-color: #0F4C75;
    color: white;
    font-weight: bold;
    font-size: 11px;
    border-radius: 5px;
    border: none;
    padding: 2px;
    font-size: 12px;
    height: 40px;
    width:  120px;
}

.cancel-comment-btn{
    margin-left: 10px;
    background-color: white;
    color: #0F4C75;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 2px;
    font-size: 12px;
    height: 40px;
    width:  90px;
}

.comment-form {
    display: flex;
    margin-top: 6px;
    margin-left:  15px;
}

.comment-form input {
    border: none;
    border-radius: 4px;
    margin-top: -2px;
    margin-left: -30px;
    height: 35px;
    width: 214px;
    border:  3px solid #0F4C75;
    background-color:rgb(253, 201, 31);
    color: #0F4C75;
    padding-left: 2px;
}

.edit-comment-form input {
    border: none;
    border-radius: 4px;
    margin-top: 2px;
    margin-left: 2.5px;
    height: 18px;
    width: 214px;
    border:  3px solid #0F4C75;
    background-color:rgb(253, 201, 31);
    color: #0F4C75;
    padding-left: 2px;
}

.up-vote-btn {
    margin-top: 10px;
    margin-left: 2px;
    background: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    height: 40px;
    width:  60px;
    font-weight: bold;
    font-size: 12px;
}

.down-vote-btn {
    margin: 10px;
    background: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    height: 40px;
    width:  60px;
    font-weight: bold;
    font-size: 12px;
}

.cancel-vote-btn {
    margin: 10px;
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    width:  90px;
    font-weight: bold;
    font-size: 14px;
}

.tallies {
    display: flex;
    margin-bottom: 8px;
    background-color:  #0F4C75;
    padding:  10px;
    border-radius: 5px;
    font-style: italic;
}

.tallies-top {
    color: white;
}

.issue-title, .issue-description {
    color: #0F4C75;
    background-color: white;
    border-radius: 5px;
    padding: 5px 8px 0px 0px;
    margin-top: 10px;
    font-style: italic;
    margin-bottom: 5px;
    font-size:  16px;
}

.title-issue, .descr-issue {
    background-color: #0F4C75;
    color:  white;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.title-issue {
    padding:  5px 100px 2px 12px;
}

.descr-issue  {
     padding:  5px 55px 2px 12px;
}



 .total-upVotes, .total-downVotes, .net-votes, .number-comments {
    margin-left:  10px;
}

.user-name-span-issue {
    color:rgb(253, 201, 31);
    font-style: italic;
}

.user-name-span-comment {
    color: rgb(253, 201, 31);
    font-weight: bold;
    margin-inline-end: 8px;
}

.posted-by {
    margin-left:  25px;
    color: white;
    font-style: italic;
}

.total-votes, .total-upVotes, .total-downVotes, .net-votes, .number-comments {
    font-weight: bold;
    color: rgb(253, 201, 31);
    font-style: italic;
}

.user-comments {
    background-color: #0F4C75;
    color:  rgb(253, 201, 31);
    padding: 10px;
    border-radius: 10px;
}

.comment-vote-group-btns {
    display: flex;
    flex-direction: row;
}

.upvote-comment-btn, .downvote-comment-btn {
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    border-radius: 5px;
    height: 25px;
}

.comment-votes-span {
    margin-left:  6px;
    color:  rgb(253, 201, 31);
    font-style: italic;
}

.comment-tallies {
    color: white;
    font-style: italic;
    margin-left: 3px;
}

.comment-list-item {
    display: inline-flex;
    margin-top: 15px;
}

.edit-comments-grp-btns {
    display: flex;
}

.submit-edited-comment-btn {
    font-size:  12px;
    font-weight: bold;
    padding: 1.5px;
    border: none;
    margin-left: 5px;
    margin-top: 3px;
    background-color: white;
    color: #0F4C75;
    border-radius: 3px;
    width: 75px;
}

.cancel-edit-comment-btn {
    font-size:  12px;
    font-weight: bold;
    padding: 1.5px;
    border: none;
    background-color: white;
    color: #0F4C75;
    border-radius: 3px;
    margin-top: 2px;
    margin-left: 5px;
    width: 75px;
}


.delete-comment-btn, .edit-comment-btn {
    font-size:  12px;
    font-weight: bold;
    padding: 1.5px;
    border: none;
    background-color: rgb(253, 201, 31);
    border-radius: 3px;
    margin-left: 5px;
    width: 45px;
}


