*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    outline: none;
    text-decoration: none;
}

.app {
    background-color: #0F4C75;
  
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: blue;
}

.auth-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../assets/manny-becerra-6dUcJdXlo7Q-unsplash.jpg);
    background-size: 34%;
    background-repeat: space;
    height: 100vh;
}

.auth-container>h1 {
    font-size: 2em;
    margin: 24px;
}

.auth-container>p {
    margin: 16px;
    text-decoration: underline;
}

.auth-container>form {
    border: 1px solid #3339;
    padding: 20px;
    border-radius: 5px;
    background-color: #aaa9;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
}

.auth-container>form>input {
    margin: 16px 8px;
    padding: 8px;
    border-radius: 4px;
}

.auth-container>form>button {
    margin: 16px 8px;
    padding: 8px;
    border-radius: 4px;
}

/* .todo-list {}

.todo {} */

.public {
    /* height: 100vh; */
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
}

.profile>h1 {
    margin: 8px;
    font-size: 2em;
    text-align: center;
}

.profile>h3 {
    margin: 16px 0;
    text-decoration: underline;
}

.profile>form {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    border: 1px solid #3339;
    background-color: #00C3BF;
    padding: 16px;
    border-radius: 5px
}

.profile>form>input,
.profile>form>button {
    margin: 8px 0;
    padding: 8px;
    border-radius: 5px
}

.app-title {
    color: rgb(253, 201, 31);
}

.member-or-not {
    color: #00C3BF;
}

.sign-up-btn {
    background-color: rgb(253, 201, 31);
}

.add-issue-btn {
    margin: 10px;
    background-color: ;
    color: white;
    font-weight: bold;
}

.delete-issue-btn {
    margin: 10px;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    width:  100px;
}

.edit-issue-btn {
    margin: 10px;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    width:  100px;
}

.comment-related-btns {
    display: flex;
    flex-direction: row;
}

.eye-btn-pieces {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: bold;
    align-items: center;
}

.see-comments-btn {
    margin: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px;
    font-size: 12px;
    height: 50px;
    width:  170px;
}

.hide-comments-btn {
    margin: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px;
    font-size: 12px;
    height: 50px;
    width:  170px;
}

.leave-comment-btn {
    margin: 10px;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px;
    font-size: 12px;
    height: 50px;
    height: 55px;
    width:  170px;
}

.submit-comment-button{
    margin-top: 10px;
    background-color: #00C3BF;
    color: black;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    padding: 2px;
    font-size: 12px;
    height: 50px;
    width:  90px;
    margin-left: 20px;

}

.cancel-comment-btn{
   margin: 10px;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px;
    font-size: 12px;
    height: 50px;
    width:  90px;
    margin-left: 20px;
}

.comment-form {
    margin-top:  10px;
    margin-left:  40px;
}

.up-vote-btn {
    margin: 10px;
    background: white;
    border-radius: 5px;
    padding: 5px;
    height: 55px;
    width:  75px;
    font-weight: bold;
    font-size: 12px;
}

.down-vote-btn {
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    height: 55px;
    width:  75px;
    font-weight: bold;
    font-size: 12px;
}

.cancel-vote-btn {
    margin: 10px;
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    width:  100px;
    font-weight: bold;
    font-size: 14px;
}



.issue-title {
    color: white;
}

.comments {
    color: white;
}

.issue-description {
    color: orange;
}

.total-votes {
    color: greenyellow;
}

.number-comments {
    color: greenyellow;
}


.user-issue-list {
    width:  500px;
}

.user-issue-container {
  background: #BBE1FA;
  border:  5px solid #0F4C75;
}

.user-comments {
    color:  yellow;
}

.all-issues-container {
 background-color: #f1b24d;
 border:  5px solid blue;
}

.public-issue-list {
    background-color: black;
    border:  5px solid blue;
    width:  35%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.public-comments {
    color: yellow;
}

.user-name-span {
    color: royalblue;
}