#grid-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}

body {
    background-color:  #bde0fe;
}

h1 {
    grid-column: 2 / 3;
    font-family: Arial;
    font-size: 25px;
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    border-top: 15px solid black;
    border-bottom: 15px solid black;
    border-left: 15px solid black;
    border-right: 15px solid black;
}

h3 {
    font-family: Arial;
    font-weight: bold;
    background-color: black;
    width: 90%;
    padding:  10px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

#add {
    grid-column: 2 / 3;
    background-color: #48bfe3;
    border-radius: 10px;
    border-top: 15px solid black;
    border-bottom: 5px solid black;
    border-left: 15px solid black;
    border-right: 15px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 45px;
}

#subtract {
    grid-column: 2 / 3;
    background-color: #5390d9;
    border-radius: 10px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 15px solid black;
    border-right: 15px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 45px;
}

#multiply {
    grid-column: 2 / 3;
    background-color: #5e60ce;
    border-radius: 10px;
    border-left: 15px solid black;
    border-right: 15px solid black;
    border-top: 5px solid black;
    border-bottom: 15px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 45px;
}


.operator {
    margin-top: 5px;
    font-weight: bold;
    font-family: Arial;
    font-size: 35px;
}

button {
    font-weight: bold;
    font-family: Arial;
    font-size: 20px;
    width: 50px;
    background-color: black;
    color: white;
    margin-top: 8px;
    border-radius: 10px;
    border: 8px solid black;
    text-align: center;
}

input {
    width: 90%;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    height: 20px;
}

#add-answer, #sub-answer, #prod-answer {
    width: 90%;
    height: 20px;
    margin-top: 10px;
    padding: 5px;
    border:  5px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;

}

input {
    padding:  5px;
    border-radius: 10px;
    width: 90%;
}
