body {
  margin: 0;
  background-color: black;
}

a {
  color: white;
  text-decoration: overline;
}

a:hover {
  color: #32cd32;
  text-decoration: underline;
  text-decoration-color: #32cd32;
  text-decoration-style: bold;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* margin-top: 19px; */
  align-items: left;
  font-size: 14px;
  /* justify-content: center; */
  padding-top: 0;
  margin-left: 25px;
  /* margin-top: 5px; */
}

.header-logo {
  position: fixed;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 20px;
  padding-left: 20px;
  z-index: 2;
  /* border-bottom: 10px double green; */
}

.header-dog1 {
  height: 17%;
  width: 17%;
  /* margin-top: 22px; */
  /* margin-bottom: 1%; */
  margin-left: 4.9%;
  margin-right: -22px;
  padding-right: 0;
  border-radius: 50%;
  /* border: 5px dotted green; */
}

.header-dog2 {
  height: 19%;
  width: 23%;
  /* margin-top: 22px; */
  /* margin-bottom: 1%; */
  border-radius: 50%;
  /* border: 5px double green; */
}

.header-dog3 {
  height: 16%;
  width: 18%;
  /* margin-top: 22px; */
  /* margin-bottom: 1%; */
  margin-left: -22px;
  padding-right: 0;
  border-radius: 50%;
  /* border: 5px double green; */
}

/* .dropdown {
  margin-top: 50px;
  padding-bottom: 0px;
  border-top: 5px solid #32cd32;
} */
