.faves-map {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.location-info-box-faves {
  position: absolute;
  top: 50px;
  right: 160px;
  width: 50px;
  font-size: 12px;
}

@media only screen and (max-width: 400px) {
  .location-info-box-faves {
    margin-top: -10px;
    margin-right: -46px;
  }
}

@media only screen and (max-width: 768px) {
  .location-info-box-faves {
    top: 230px;
    right: 50px;
  }
}

@media only screen and (max-width: 1520px) {
  .location-info-box-faves {
    top: 2px;
    right: 75px;
  }
}
