body {
  margin: 0;
}

.faves-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-list {
  padding-top: 25px;
}

.restaurant {
  color: #32cd32;
  font-family: Arial;
  font-size: 18px;
  font-style: italic;
}

.restaurant-list {
  font-family: Arial;
  font-style: italic;
  font-size: 16px;
}

ul {
  color: whitesmoke;
}

li {
  list-style-image: url(./assets/print-306214_640.png);
}

form {
  color: white;
  font-family: Arial;
  font-size: 14px;
}

input {
  width: 250px;
  margin-left: -2px;
}

.list-items {
  z-index: 3;
}

.hide-it {
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  width: 21%;
  height: 150px;
  z-index: 1;
}
