.faves-map {
  margin-top: 2%;
  width: 85vw;
  height: 60vh;
  background-color: black;
}

.location-info-box-faves {
  position: absolute;
  top: 325px;
  right: 160px;
  width: 50px;
  font-size: 12px;
}

@media only screen and (max-width: 400px) {
  .faves-map {
    width: 88vw;
    height: 88vh;
  }

  .location-info-box-faves {
    top: 214px;
    right: 22px;
    /* width: 20%; */
  }
}
