body {
  margin-left: 8px;
}

.flex-container {
  column-count: 2;
  margin-left: 8%;
  margin-right: 8%;
}

.card {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-right: 10px;
}

.bus-photo {
  margin-right: 0px;
  margin-left: 8px;
  border-radius: 10px;
}

.bus-details {
  background-color: black;
  color: white;
  border-color: green;
  font-family: Arial;
  font-size: 14px;
  border-style: solid;
  border-width: 1px 4px 5px 0px;
  border-radius: 10px;
  margin-left: -10px;
  padding-left: 5px;
  padding-right: 5px;
}

.business-name {
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
  font-family: Arial;
  font-style: italic;
  color: #32cd32;
}

.price-rating {
  font-weight: bold;
  color: #32cd32;
}

/* .bus-link {
} */

.yelp-logo {
  margin-top: -5px;
  margin-left: -20px;
  margin-bottom: -10px;
  width: 85px;
  height: 55px;
}

span {
  color: white;
  font-weight: lighter;
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  background-color: green;
  color: white;
}
