.price-rating-buttons {
  display: flex;
  justify-content: space-between;
}

button.pricing {
  width: 50px;
}

@media only screen and (max-width: 400px) {
  .price-rating-buttons {
    margin-right: 84px;
  }
  button.pricing {
    width: 36px;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .price-rating-buttons {
    margin-right: 50px;
  }

  button.pricing {
    width: 35px;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 5px;
  }
}
