.price-rating-buttons {
  display: flex;
  justify-content: space-between;
}

button.pricing {
  width: 50px;
}

@media only screen and (max-width: 400px) {
  .price-rating-buttons {
    position: fixed;
    left: 25px;
    right: 130px;
    top: 125px;
  }
  button.pricing {
    width: 36px;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .price-rating-buttons {
    position: fixed;
    top: 150px;
    right: 160px;
  }

  button.pricing {
    width: 35px;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 5px;
    margin-left: 12px;
  }
}
