.price-rating-buttons {
  display: flex;
  justify-content: space-between;
}

button.pricing {
  width: 50px;
}

@media only screen and (max-width: 400px) {
  .price-rating-buttons {
    position: fixed;
    left: 10px;
    margin-right: 85px;
  }
  button.pricing {
    margin-left: 12px;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 5px;
    width: 35px;
  }
}
