a {
  text-decoration: none;
  font-weight: bold;
  color: royalblue;
  font-family: Arial, Helvetica, sans-serif;
  margin: 8px;
  justify-content: center;
}

a:hover {
  color: green;
  background-color: lightgreen;
}
