body {
    margin: 0;
    padding: 0;
    height:  200px;
}

header {
    padding: 10px;
    text-align: center;
    font-family:'Lucida Sans';
}

h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-family:'Lucida Sans';
}

.dark-theme {
    background-color: #333333;
    color: lightskyblue;
}

.light-theme {
    background-color: lightskyblue;
    color: darkblue;
}

.purple-theme {
    background-color: purple;
    color: lavender
}

.green-theme {
    background-color: green;
    color: lightgreen;
}

.yellow-theme {
    background-color: darkgoldenrod;
    color: yellow;
}

.orange-theme {
    background-color: orange;
    color: orangered;
}

.blue-theme {
    background-color: darkblue;
    color: lightskyblue;
}


button {
    padding: 20px;
    text-align: center;
    margin-left: 45%;
    margin-bottom: 40px;
    font-family:'Lucida Sans';
    font-weight: bold;   
}

footer {
    margin-top: 25px;
    padding: 45px;
    text-align: center;
    font-family:'Lucida Sans';
    font-weight: bold;
    font-size: 20px;
}

.drop-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    padding: 30px;
    font-family:'Lucida Sans';
    font-size: 25px;
    font-weight: bold;
    background-color: black;
    color: white;
}

option {
    font-size: 20px;
    margin-left: 10px;
}

select {
    background-color: yellowgreen;
    margin-left: 10px;
    font-size: 20px;
}

input {
    margin-top: 10px;
    font-size: 20px;
}
