body {
    margin: 0;
    padding: 0;
    height:  400px;
}

header {
    padding: 10px;
    text-align: center;
}

h2 {
    padding: 30px;
    text-align: center;
}

.dark-theme {
    background-color: #333333;
    color: whitesmoke;
}

.light-theme {
    background-color: whitesmoke;
    color: #333333;
}

button {
    padding: 20px;
    text-align: center;
    margin-left: 45%;
    margin-bottom: 40px;
}

footer {
    margin-top: 20px;
    padding: 45px;
    text-align: center;
}
