body {
    margin: 0;
    padding: 0;
    height:  400px;
}

header {
    padding: 10px;
    text-align: center;
    font-family:'Lucida Sans';
}

h2 {
    padding: 30px;
    text-align: center;
    font-family:'Lucida Sans';
}

.dark-theme {
    background-color: #333333;
    color: lightskyblue;
}

.light-theme {
    background-color: lightskyblue;
    color: darkblue;
}

button {
    padding: 20px;
    text-align: center;
    margin-left: 45%;
    margin-bottom: 40px;
    font-family:'Lucida Sans';
    font-weight: bold;
   
}

footer {
    margin-top: 20px;
    padding: 45px;
    text-align: center;
    font-family:'Lucida Sans';
    font-weight: bold;
}
