body {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
}

.dark-theme {
    background-color: #333333;
    color: whitesmoke;
}

.light-theme {
    background-color: whitesmoke;
    color: #333333;
}

