#grid-container {
    display: grid;
    grid-template-columns:  1fr 2fr 1fr 1fr;
}

#style-list {
    grid-column: 2 / 4;
    grid-row-start: 1;
} 

button {

}

#style-form {
    grid-column:  3 / 4;
    grid-row-start: 1;
    margin-top:  30px;
}

#list {
    list-style-type: square;
    color:  purple;
    
}



li {
    
}

img {
    border-radius: 25%;
}