body {
  margin: 0;
}


.profile-posts-list-header {
  color: royalblue;
}

.navbar {
  display: flex;
  justify-content: space-around;
  color: blue;
}

.profile {
  color: royalblue;
}


.flashcard {}

.flashcard-category {
  color: blue;
  font-style: italic;
}

.flashcard-bio-photo {
  width: 15%;
  height: 15%;
}

.front-of-card {
  margin-left: 5%;
  width: 19%;
  height: 19%;
}