body {
  margin: 0;
  /* background-color: darkblue; */
  background-image: url(../assets/nasa-rTZW4f02zY8-unsplash.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app-title {
  margin-top: 10%;
  color: whitesmoke;
  text-align: center;
}

.app-sub-title {
  color: whitesmoke;
  text-align: center;
}

.auth-frm {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.auth-frm>input {
  width: 25%;
  margin: auto;
}

.sign-up-btn {
  width: 15%;
  margin: auto;
}

.member-or-not {
  color: whitesmoke;
  text-align: center;
}

.welcome-msg {
  color: whitesmoke;
  text-align: center;
}

.add-post-header {
  color: whitesmoke;
  text-align: center;
}

.add-post-form {
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  background-color: lightgray;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 30%;
  margin: auto;
}

.add-post-btn {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  border-radius: .5rem;
  background-color: navy;
  color: white;
}

.add-post-form>input {
  width: 80%;
  margin: 1% auto 0 auto;
  border-radius: .5rem;
  padding: .5rem;
}

.profile-posts-list-header {
  color: whitesmoke;
  text-align: center;
}

.profile-posts-list {
  margin-left: 20%;
  margin-right: 20%;
}

.profile-container {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, .8);
  border-radius: .5rem;
  padding: .5rem;
}

.delete-post-btn {
  margin-top: 5%;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: whitesmoke;
  border-top: 5px black solid;
  border-bottom: 5px black solid;
  padding: 1%;
}

.profile {
  color: royalblue;
}


.quote {
  font-style: italic;
  font-weight: lighter;
}

h3 {
  margin-bottom: -2%;
}

.question-category {
  background-color: yellowgreen;
  width: 16%;
  border-radius: .2rem;
}

.flashcard-category {
  font-size: 200%;
  margin-top: -2%;
  background-color: yellowgreen;
  width: 15%;
  border-radius: .2rem;
}

.profession {
  font-size: 125%;
}

.name-flashcard {
  color: yellowgreen;
  text-transform: uppercase;
  margin-top: -10%;
}

img {
  padding-top: 5%;
  border-radius: 10px;
}

.attribution {
  font-style: italic;
}

span {
  color: yellowgreen;
  margin-bottom: 10%;
  /* color: skyblue; */
  /* font-style: italic; */
}

/* .noteworthy-flashcard,
.birthdate-flashcard, */


/* .flashcard-bio-photo {
  width: 85%;
  height: 85%;
} */

.game-container,
.learn-container {
  max-width: 98vw;
  margin: 7rem 2rem;
}

.question-play-container,
.flashcard-learn-container {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10rem 5rem;
}

.card-front {
  text-align: center;
  font-size: 50px;
  padding: 10%;
  background-color: skyblue;
  border-radius: 10px;
}

.question-card-front {
  text-align: center;
  font-size: 50px;
  padding: 10%;
  background-color: skyblue;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* margin: 4%; */
  cursor: pointer;
  /* margin-left: 5%; */
  border-radius: .25rem;
  /* box-shadow: 0 0 5px 2px rgb(0, 0, 0, .3); */
  background-color: transparent;
  transform-style: preserve-3d;
  height: 150px;
  /* width: 150px; */
  transform: rotateY(var(--rotate-y, 0));

  perspective: 1000px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transition: 150ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
}

.questionCard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* margin: 4%; */
  cursor: pointer;
  /* margin-left: 5%; */
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgb(0, 0, 0, .3);
  background-color: skyblue;
  height: 150px;
  /* width: 150px; */
  transform: rotateY(var(--rotate-y, 0));
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transition: 150ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
}

.card.flip,
.questionCard.questionFlip {
  --rotate-y: 180deg;
  z-index: 2;
}

.card .card-front,
.card .card-back .questionCard .question-card-front,
.questionCard .question-card-back {
  position: absolute;
  padding: .75rem;
  backface-visibility: hidden;
}

.card .card-back,
.questionCard .question-card-back {
  transform: rotateY(180deg);
  /* background-color: #0f893b; */
  background-color: #001E4E;
  color: whitesmoke;
  border-radius: .25rem;
}

.card-back {
  font-size: 75%;
  padding: .5rem;
}



.question-options {
  font-size: .7rem;
  padding: 20px;
}

.indiv-option:hover {
  background-color: yellowgreen;
  border-radius: 5px;
  color: #001E4E;
  padding: .3rem;
}

.dropdown-title {
  margin-bottom: -.2%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dropdown-flashcards {
  margin-left: auto;
  margin-right: auto;
  color: black;
  margin-top: -3%;
  margin-bottom: 7%;
  padding: .2% .2%;
  background-color: skyblue;
  border-radius: 10px;
  /* background-color: rgba(0, 0, 0, .6); */
  width: 15%;
  text-align: center;
}

select {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.return-to-all-flashcards-btn {
  border-radius: 10px;
  margin-top: .8%;
  background-color: black;
  color: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.answered {
  background-color: red;
}

.game-score {
  display: flex;
  justify-content: space-around;
  float: top;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  text-align: center;
  border: 10px double royalblue;
  border-radius: 10px;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, .6);
  width: 45%;
}

.forum-post-list {
  display: flex;
  flex-direction: column;
}

.title-forum-page {
  text-align: center;
  color: whitesmoke;
  font-size: larger;
}

.all-post-container {
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 2%;
  color: whitesmoke;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, .65);
}

.dropdown-posts {
  margin-left: auto;
  margin-right: auto;
  color: black;
  margin-bottom: 7%;
  padding: .2% .2%;
  background-color: skyblue;
  border-radius: 10px;
  /* background-color: rgba(0, 0, 0, .6); */
  width: 15%;
  text-align: center;
}

.return-to-all-posts-btn {
  border-radius: 10px;
  margin-top: .5%;
  background-color: black;
  color: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.leave-comment-btn {
  margin-top: 3%;
}

.public-comments {
  margin: 1% 1%;
}

/* .all-posts {} */