.all-dice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.first-die {
    width: 75px;
    height: 75px;
    background-color: darkgreen;
    color: white;
    border: 8px solid black;
}

.second-die {
    width: 75px;
    height: 75px;
    background-color: darkgreen;
    color: white;
    border: 8px solid black;
}

.third-die {
    width: 75px;
    height: 75px;
    background-color: darkgreen;
    color: white;
    border: 8px solid black;
}

.fourth-die {
    width: 75px;
    height: 75px;
    background-color: darkgreen;
    color: white;
    border: 8px solid black;
}

.fifth-die {
    width: 75px;
    height: 75px;
    background-color: darkgreen;
    color: white;
    border: 8px solid black;
}

.roll-em {
    padding: 8px;
    margin-left: 10px;
    font-weight: bold;
    background-color: purple;
    color: white;
}

