body {
    background-color: pink;
}

h3 {
    color: black;
    font-weight: bold;
    position: relative;
    top: 0;
}

#france-grid-container {
    display: grid;
    grid-template-columns: 60px 60px 60px;
}

.france-flag {
    height: 100px;
    grid-column: 1 / 2;
    background-color: #002495;
}

 .france-vertical-white-stripe {
    grid-column: 2 / 3;
    height: 100px;
    background-color: #FFFFFF;
 }

.france-vertical-red-stripe {
    grid-column: 3 / 4;
    height: 100px;
    background-color: #ED2938;
}

#germany-grid-container {
    display: grid;
    grid-template-rows: 40px 40px 40px;
}

.germany-flag {
    height: 60px;
    width: 180px;
    background-color:  #000000;
}

.germany-horizontal-red-stripe {
    width: 180px;
    background-color:  #DE0002;
}

.germany-horizontal-gold-stripe {
    width: 180px;
    background-color: #FFCE00;
  }

#madagascar-grid-container {
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 50px 50px;
}

.madagascar-white-rectangle {
    background-color: #FFFFFF;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.madagascar-red-rectangle {
    background-color: #FC3E32;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.madagascar-green-rectangle {
    background-color: #007E39;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

#switzerland-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 30px);
    grid-template-rows: repeat(5, 30px);
}

.switzerland-white-square-top {
    background-color: #FFFFFF;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.switzerland-white-rectangle-middle {
    background-color: #FFFFFF;
    grid-column: 2 / 5;
    grid-row: 3 / 4;
}
       
.switzerland-white-square-bottom {
    background-color: #FFFFFF;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}
.switzerland-flag-left-top-red-square {
    background-color: #FF0002;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.switzerland-top-middle-red-square {
    background-color: #FF0002;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.switzerland-top-right-red-square {
    background-color: #FF0002;
    grid-column: 4 / 6;
    grid-row: 1 / 3;
}

.switzerland-middle-left-red-square {
    background-color: #FF0002;
    grid-column: 1 / 2;
    grid-row:  3 / 4;
}
.switzerland-middle-right-red-square {
    background-color: #FF0002;
    grid-column: 5 / 6;
    grid-row: 3 / 4;
}
.switzerland-bottom-left-red-square {
    background-color: #FF0002;
    grid-column: 1 / 3;
    grid-row: 4 / 6;
        }

.switzerland-bottom-middle-red-square {
    background-color: #FF0002;
    grid-column: 3 / 4;
    grid-row:  5 / 6;
}

.switzerland-bottom-right-red-square {
    background-color: #FF0002;
    grid-column: 4 / 6;
    grid-row: 4 / 6;
}
  
#sweden-grid-container {
    display: grid;
    grid-template-columns:  repeat(8, 20px);
    grid-template-rows: repeat(5, 20px); 
}


.sweden-flag-blue-top-left-rectangle {
    background-color: #0269A6;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.sweden-flag-blue-top-right-rectangle {
    background-color: #0269A6;
    grid-column: 4 / 9;
    grid-row: 1 / 3;
}

.sweden-flag-blue-bottom-left-rectangle {
    background-color: #0269A6;
}

.sweden-flag-blue-bottom-right-rectangle {
    background-color: #0269A6;
}

.sweden-horizontal-stripe {
    background-color: #FECC00;
    grid-column: 1 / 9;
    grid-row: 3 / 4;
}

.sweden-vertical-stripe {
    background-color: #FECC00;
    grid-column: 3 / 4;
    grid-row: 1 / 6;
}


.gambia-flag-red-rectangle  {
    width: 100%;
    height: 120px;
    background-color: #CE1127;
    position: relative;
    left: 0;
    border-bottom: #FFFFFF solid 15px;
}

.gambia-flag-red-rectangle:before  {
    content: "";
    display: block;
    padding-top: 67%;
}

.gambia-flag-blue-rectangle {   
    width: 100%;
    height: 80px;
    background-color: #0D1D8B;
    position: relative;
    left: 0;
    border-bottom: white solid 15px;
}

.gambia-flag-blue-rectangle:before {
    content: "";
    display: block;
    padding-top: 67%;
}

.gambia-flag-green-rectangle {
    width: 100%;
    height: 120px;
    background-color: #3B7827;
    position: relative;
    left: 0;
}

.gambia-flag-green-rectangle:before {
    content: "";
    display: block;
    padding-top: 67%;
}


.japan-flag-white-rectangle {
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
    left: 0;
}
    
.japan-flag-white-rectangle:before {
    content: "";
    display: block;
    padding-top: 67%;
}


.japan-flag-red-circle {
    background-color: #BC022C;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    position: relative;
    left: 30%;
    bottom: 330px;
}

 .niger-flag-orange-rectangle {
    width: 100%;
    background-color: #E15307;
    height: 150px;
    position: relative;
    left: 0;
 }

 .niger-flag-orange-rectangle:before {
    content: "";
    display: block;
    padding-top: 85.7%;
 }

.niger-flag-white-rectangle {
    width: 100%;
    background-color: #FFFFFF;
    height: 150px;
    position: relative;
    left: 0;
}


.niger-flag-white-rectangle:before {
    content: "";
    display: block;
    padding-top: 85.7%;
}


.niger-flag-green-rectangle {
    width: 100%;
    background-color: #10AF2A;
    height: 150px;
    position: relative;
    left: 0;
}

.niger-flag-green-rectangle:before {
    content: "";
    display: block;
    padding-top: 85.7%;
}

.niger-flag-orange-circle {
    background-color: #E15307;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    position: relative;
    left: 38%;
    bottom: 290px;
}


