/*NOTE: need to go back in here & do the ratios*/

body {
    background-color: pink;
}

h3 {
    color: black;
    font-weight: bold;
    position: relative;
    top: 0;
}

#france-grid-container {
    display: grid;
    grid-template-columns: 60px 60px 60px;
}

.france-flag {
    height: 100px;
    grid-column: 1 / 2;
    background-color: #002495;
}

 .france-vertical-white-stripe {
    grid-column: 2 / 3;
    height: 100px;
    background-color: #FFFFFF;
 }

.france-vertical-red-stripe {
    grid-column: 3 / 4;
    height: 100px;
    background-color: #ED2938;
}

#germany-grid-container {
    display: grid;
    grid-template-rows: 40px 40px 40px;
}

.germany-flag {
    height: 60px;
    width: 180px;
    background-color:  #000000;
}

.germany-horizontal-red-stripe {
    width: 180px;
    background-color:  #DE0002;
}

.germany-horizontal-gold-stripe {
    width: 180px;
    background-color: #FFCE00;
  }

#madagascar-grid-container {
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 50px 50px;
}

.madagascar-white-rectangle {
    background-color: #FFFFFF;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.madagascar-red-rectangle {
    background-color: #FC3E32;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.madagascar-green-rectangle {
    background-color: #007E39;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

#switzerland-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 30px);
    grid-template-rows: repeat(5, 30px);
}

.switzerland-white-square-top {
    background-color: #FFFFFF;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.switzerland-white-rectangle-middle {
    background-color: #FFFFFF;
    grid-column: 2 / 5;
    grid-row: 3 / 4;
}
       
.switzerland-white-square-bottom {
    background-color: #FFFFFF;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}
.switzerland-flag-left-top-red-square {
    background-color: #FF0002;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.switzerland-top-middle-red-square {
    background-color: #FF0002;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.switzerland-top-right-red-square {
    background-color: #FF0002;
    grid-column: 4 / 6;
    grid-row: 1 / 3;
}

.switzerland-middle-left-red-square {
    background-color: #FF0002;
    grid-column: 1 / 2;
    grid-row:  3 / 4;
}
.switzerland-middle-right-red-square {
    background-color: #FF0002;
    grid-column: 5 / 6;
    grid-row: 3 / 4;
}
.switzerland-bottom-left-red-square {
    background-color: #FF0002;
    grid-column: 1 / 3;
    grid-row: 4 / 6;
        }

.switzerland-bottom-middle-red-square {
    background-color: #FF0002;
    grid-column: 3 / 4;
    grid-row:  5 / 6;
}

.switzerland-bottom-right-red-square {
    background-color: #FF0002;
    grid-column: 4 / 6;
    grid-row: 4 / 6;
}
  
#sweden-grid-container {
    display: grid;
    grid-template-columns:  repeat(8, 20px);
    grid-template-rows: repeat(5, 20px); 
}

.sweden-flag-blue-top-left-rectangle {
    background-color: #0269A6;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.sweden-flag-blue-top-right-rectangle {
    background-color: #0269A6;
    grid-column: 4 / 9;
    grid-row: 1 / 3;
}

.sweden-flag-blue-bottom-left-rectangle {
    background-color: #0269A6;
    grid-column: 1 / 3;
    grid-row: 4 / 6;
}

.sweden-flag-blue-bottom-right-rectangle {
    background-color: #0269A6;
    grid-column: 4 / 9;
    grid-row: 4 / 6;
}

.sweden-horizontal-stripe {
    background-color: #FECC00;
    grid-column: 1 / 9;
    grid-row: 3 / 4;
}

.sweden-vertical-stripe {
    background-color: #FECC00;
    grid-column: 3 / 4;
    grid-row: 1 / 6;
}

#gambia-grid-container {
    display: grid;
    width: 180px;
    grid-template-rows: 35px 35px 35px;
    border: solid 10px black;

}

.gambia-flag-red-rectangle  {
    background-color: #CE1127;
  }

.gambia-flag-blue-rectangle {   
    background-color: #0D1D8B;
    border-bottom: white solid 5px;
    border-top:  white solid 5px;
}

.gambia-flag-green-rectangle {
    background-color: #3B7827;
}

#japan-flex-container {
    display: flex;
    justify-content: flex-start;
}

.japan-flag-white-rectangle {
   background-color: #FFFFFF;
   width: 180px;
   height: 125px;

}

    
.japan-flag-red-circle {
    background-color: #BC022C;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    position: relative;
    left: -130px;
    top: 25px;
}

#niger-grid-container{
    display: grid;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(3, 60px);
    width: 180px;
}

 .niger-flag-orange-rectangle {
    background-color: #E15307;
    border-bottom: 5px solid white;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

 .niger-flag-white-rectangle {
    background-color: #FFFFFF;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

.niger-flag-green-rectangle {
    background-color: #10AF2A;
    border-top: 5px solid white;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
   }

.niger-flag-orange-circle {
    background-color: #E15307;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
 }

