h2 {
   text-align: center;
   color: white;
   font-family:'Lucida Sans';
   border: 10px solid white;
   border-radius: 8px;
   margin-left: 20%;
   margin-right: 20%;
}

.frame {
    border:  10px solid white;
    border-radius: 15px;
    margin-left: 30%;
    margin-right: 30%;
}