#flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: skyblue;
    font-family: Arial;
}

p {
    font-size: 20px;
}

#number-clicks {
    background-color: royalblue;
    border-radius: 10px;
    border: 10px solid black;
    color: white;
    text-align: center;
    font-size: 30px;
    height: 75px;
    width: 150px;
    padding-top: 35px;
}